<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.msversiongatewaycontroller.mapper.VersionMarkerMapper">
    <select id="callGetVersionInterval" statementType="CALLABLE" parameterType="java.util.Map">
        {call get_version_interval(
            #{major, mode=IN, jdbcType=INTEGER},
            #{minor, mode=IN, jdbcType=INTEGER},
            #{patch, mode=IN, jdbcType=INTEGER},
            #{url, mode=IN, jdbcType=VARCHAR},
            #{requestType, mode=IN, jdbcType=VARCHAR},
            #{leftVersion, mode=OUT, jdbcType=VARCHAR},
            #{rightVersion, mode=OUT, jdbcType=VARCHAR}
            )}
    </select>
</mapper>

